@{
    ViewBag.Title = "Hem";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
           
        </div>
    </section>
}
<h3>Vad vill du göra?</h3>
<ul>
    <li>@Html.ActionLink("Se produkter", "Index","Product")</li>

    <br />
    <li>@Html.ActionLink("Gå till admin", "Index", "Admin")</li>
    
</ul>
