@{
    ViewBag.Title = "Hem";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
           
        </div>
    </section>
}
<h3>Vad vill du göra?</h3>
<ul>
    <li>@Html.ActionLink("Se produkter", "Index","Product")</li>
    <li><a href="#">Annat Skit</a></li>
    <li><a href="#">Annat ..</a></li>
</ul>
