@{
    ViewBag.Title = "Index";
}

<h2>Hej Admin!</h2>
<p>Vad vill du göra</p>

<li>@Html.ActionLink("Redigera kategorier", "Category", "Admin")</li>
<br />
<li>@Html.ActionLink("Redigera Serier", "Serie", "Admin")</li>
<br />
<li>@Html.ActionLink("Se Köp historik", "Purchase", "Admin")</li>
<br />
<li>@Html.ActionLink("Redigera Kampanjer", "Promotion", "Admin")</li>