@{
    ViewBag.Title = "Index";
}

<h2>Hej Admin!</h2>
<p>Vad vill du göra</p>

<li>@Html.ActionLink("Lägg till produkt", "EditProduct", "Admin")</li>
<li>@Html.ActionLink("Lägg till kategori", "EditCategory", "Admin")</li>